:root {
	--h: 185deg;
	--s: 7%;
	--c1: hsl(var(--h) var(--s) 7%);
	--c2: hsl(var(--h) var(--s) 9%);
	--c3: hsl(var(--h) var(--s) 12%);
	--c4: hsl(var(--h) var(--s) 45%);
	--c5: hsl(var(--h) var(--s) 65%);
	--c6: hsl(var(--h) var(--s) 75%);
	--c7: hsl(var(--h) var(--s) 85%);
	--green: hsl(120deg 75% 54%);
	--red: hsl(346deg 100% 50%);
	--blue: hsl(220deg 85% 60%);
	--yellow: hsl(48deg 92% 42%);

	--nav-width: 18vw;
	--gap: 1.5rem;
}

html,
body {
	--app-bg: var(--c1);
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 1em;
	background: var(--app-bg);
	color: var(--c7);
}

input,
button {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	fill: currentColor;
}

* {
	box-sizing: border-box;
}

.champ-img > span {
	display: block !important;
}

.champ-img img {
	transform: scale(1.2);
}

.container {
	width: 100%;
	margin-inline: auto;
}

.search {
	all: unset;
	display: inline-block;
	padding: 0.5rem 1rem;
	background: var(--c2);
}

button {
	all: unset;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: var(--c2);
	outline: 1px solid var(--c3);
	cursor: pointer;
}
button:hover {
	background: var(--c3);
}
button.active {
	background: var(--c7);
}
.btn-grp button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.btn-grp button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.statBlocks {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}
.statBlock {
	flex: 1;
}
.statBlock .stat {
	font-size: 2rem;
}
.statBlock .stat span {
	color: var(--c4);
	font-size: 1.5rem;
}
.statBlock .stat-name {
	display: block;
	color: var(--c4);
	text-transform: uppercase;
	letter-spacing: 2px;
}
