:root {
	--h: 205deg;
	--s: 15%;
	--c1: hsl(var(--h) var(--s) 5%);
	--c2: hsl(var(--h) var(--s) 10%);
	--c3: hsl(var(--h) var(--s) 15%);
	--c4: hsl(var(--h) var(--s) 20%);
	--c5: hsl(var(--h) var(--s) 25%);
	--c6: hsl(var(--h) var(--s) 35%);
	--c7: hsl(var(--h) var(--s) 45%);
	--c8: hsl(var(--h) var(--s) 65%);
	--c9: hsl(var(--h) var(--s) 75%);
	--c10: hsl(var(--h) var(--s) 80%);
	--c11: hsl(var(--h) var(--s) 90%);

	--green-hsl: 145deg 70% 45%;
	--green: hsl(var(--green-hsl));
	--red-hsl: 346deg 100% 50%;
	--red: hsl(var(--red-hsl));
	--blue-hsl: 220deg 85% 65%;
	--blue: hsl(var(--blue-hsl));
	--yellow-hsl: 45deg 70% 50%;
	--yellow: hsl(var(--yellow-hsl));
	--logo-hsl: 243deg 96% 68%;
	--logo: hsl(var(--logo-hsl));

	--nav-width: 20rem;
	--gap: 1rem;
	--btn-height: 2.75rem;
}

html,
body {
	--app-bg: var(--c1);
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
	background: var(--app-bg);
	color: var(--c11);
	overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
	background: var(--c4);
	border: 4px solid var(--app-bg);
}
body::-webkit-scrollbar {
	width: 0.75rem;
}

input,
button {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	fill: currentColor;
}

* {
	box-sizing: border-box;
}

.champ-img > span {
	display: block !important;
}

.champ-img img {
	transform: scale(1.2);
}

.search {
	all: unset;
	display: inline-block;
	height: var(--btn-height);
	padding: 0.5rem 1rem;
}

button,
input[type='text'],
.boolean-btn {
	all: unset;
	position: relative;
	box-sizing: border-box;
	display: inline-flex;
	gap: 0.5rem;
	align-items: center;
	padding: 0.5rem 1rem;
	height: var(--btn-height);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
	white-space: nowrap;
	background: var(--c2);
	border: 1px solid var(--c3);
}
button svg {
	width: 1em;
}
button,
.boolean-btn {
	user-select: none;
	cursor: pointer;
}
button:hover {
	background: var(--c3);
}
button.active {
	background: var(--c7);
}
button.block {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
}
button.disabled,
input[type='text'].disabled {
	opacity: 0.38;
	pointer-events: none;
}
.boolean-btn {
	gap: 1rem;
}
.boolean-btn.checked {
	background: hsla(var(--green-hsl) / 0.1);
	color: var(--green);
	border-color: hsla(var(--green-hsl) / 0.25);
}
.boolean-btn input[type='checkbox'] {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}
.boolean-btn svg {
	width: 1rem;
	color: currentColor;
}

.controls,
.statblocks {
	display: flex;
	gap: 0.5rem;
	padding: 1rem 0;
	margin: 1rem 0;
	border-top: 2px solid var(--c2);
	border-bottom: 2px solid var(--c2);
}

.statblocks {
	gap: 4rem;
}
.statblock {
	flex: 1;
	padding-bottom: 0.5rem;
}
.statblock .stat {
	font-size: 1.75rem;
}
.statblock .stat span {
	color: var(--c8);
	font-weight: 400;
	font-size: 1rem;
	margin-left: 1rem;
}
.statblock .stat-name {
	display: block;
	font-weight: 900;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--c7);
}

.list {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
